<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" href="/tabs/tab2">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>详细地址</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="sureAddress()">
        确定
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="bg-color">
  <ion-list>
    <ion-item detail (click)="chooseCity()" href="/choose-city">
      <ion-label >城市</ion-label>
      <ion-label > {{city}}</ion-label>
    </ion-item>
    <ion-item detail (click)="chooseCity()" href="/choose-city">
      <ion-label >区域</ion-label>
      <ion-label > {{zone}}</ion-label>
    </ion-item>

    <ion-item detail="false" href="/map">
      <ion-label text-wrap >详细地址</ion-label>

      <ion-icon name="pin" slot="end"></ion-icon>
    </ion-item>
    
    <ion-item lines="none" >
        <ion-label >门牌号</ion-label>
        <ion-input placeholder="请填写" type="text" clearInput="true"></ion-input>
      </ion-item>
    
  </ion-list>
</ion-content>
