<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" href="/tabs/tab2">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>详细地址</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="sureAddress()">
        确定
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item detail (click)="chooseCity()">
      <ion-col size="4" class="address-item-title">
        <ion-label>城市</ion-label>
      </ion-col>
      <ion-col size="8" class="address-item-content">
        <ion-label> {{city}}</ion-label>
      </ion-col>
    </ion-item>

    <ion-item detail (click)="chooseZone()">
      <ion-col size="4" class="address-item-title">
        <ion-label>区域</ion-label>
      </ion-col>
      <ion-col size="8" class="address-item-content">
        <ion-label> {{zone}}</ion-label>
      </ion-col>
    </ion-item>

    <ion-item detail="false" (click)="chooseDetailAddressFromMap()">
      <ion-col size="4" class="address-item-title">
        <ion-label>详细地址</ion-label>
      </ion-col>
      <ion-col class="address-item-content">
        <ion-label> {{detail}}</ion-label>
      </ion-col>
      <ion-col size="2">
        <ion-icon name="pin" slot="end"></ion-icon>
      </ion-col>
    </ion-item>

    <ion-item lines="none">
      <ion-col size="4" class="address-item-title">
        <ion-label>门牌号</ion-label>
      </ion-col>
      <ion-col size="8" class="address-item-content">
        <ion-input placeholder="请填写" type="text" clearInput="true"></ion-input>
      </ion-col>
    </ion-item>

    <!-- <ion-item>
      <ion-label>Simple Picker</ion-label>
      <ion-multi-picker item-content [multiPickerColumns]="simpleColumns"></ion-multi-picker>
    </ion-item> -->

  </ion-list>


</ion-content>