<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" href="/tabs/tab2">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>详细地址</ion-title>
    <ion-buttons slot="end">
      <ion-button class="address-sure-button" (click)="sureAddress()">
        确定
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item detail (click)="chooseCity()">
      <ion-col size="4" class="address-item-title">
        <ion-label>城市</ion-label>
      </ion-col>
      <ion-col size="8" class="address-item-content">
        <ion-label> {{city}}</ion-label>
      </ion-col>
    </ion-item>

    <ion-item detail class="commonCustomItem">
      <ListItem Picker style="padding-left:3px; width: 80%;" [data]="zoneList" [extra]="zoneStr" [appendToBody]="true"
        [cascade]="true" [mask]="false" [(ngModel)]="value1" [cols]="2" (ngModelChange)="onOk1($event)"
        (onDismiss)="onDismiss1()">
        <p>区域</p>
      </ListItem>
    </ion-item>

    <!-- <ion-item detail> -->

    <!-- <ion-col size="4" class="address-item-title"> -->

    <!-- </ion-col> -->
    <!-- <ion-col size="8" class="address-item-content"> -->
    <!-- <ion-label> {{name1}}</ion-label> -->
    <!-- <ion-label> {{zone}}</ion-label> -->
    <!-- </ion-col> -->
    <!-- </ion-item> -->



    <ion-item class="item-text-wrap" detail="false" lines="inset" (click)="chooseDetailAddressFromMap()">
      <ion-col size="4" class="address-item-title">
        <ion-label>详细地址</ion-label>
      </ion-col>
      <ion-col class="address-item-content">
        <ion-label> 萨克和凯撒好看哈萨克就好撒客户萨科技和萨卡斯 {{detail}}</ion-label>
      </ion-col>
      <ion-col size="2">
        <ion-icon name="pin" slot="end"></ion-icon>
      </ion-col>
    </ion-item>

    <ion-item lines="none">
      <ion-col size="4" class="address-item-title">
        <ion-label>门牌号</ion-label>
      </ion-col>
      <ion-col size="8" class="address-item-content">
        <ion-input placeholder="请填写" type="text" clearInput="true"></ion-input>
      </ion-col>
    </ion-item>
  </ion-list>

</ion-content>