// .bg-color{
//     background-color: rgb(124, 105, 105);
// }



.address-sure-button{
    font-size: 16px;
    color: #FF6314;
    letter-spacing: 0;
    text-align: left;
    line-height: 16px;
    
}

hr{
    border-top: 1px solid #ebebed;
    margin-left: 10px;
    margin-right: 10px;
}



.item{
    width: 100%;
    min-height: 55px;
    display: flex;
    .title{
        width: 30%;
        line-height: 58px;
        text-align: left;
        display: inline-block;
        vertical-align: middle;
        padding-left: 5px;
    }
    ion-input{
        flex: 1px;
    }
    .address{
        flex: 1px;
        text-align: left;
        display: inline-block;
        vertical-align: middle;
    }
    

}
.location-icon{
    width: 12px;
    height: 16px;
    right: 1rem;
    vertical-align:middle;
    max-width:28px;
    max-height:28px;
    }
