// .bg-color{
//     background-color: rgb(124, 105, 105);
// }
.address-item-title{
    padding-left: 0%;
}
.address-sure-button{
    font-family: PingFang-SC-Regular;
    font-size: 16px;
    color: #FF6314;
    letter-spacing: 0;
    text-align: right;
    line-height: 16px;
}