<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="closeSearchPage()">
        <img src="/assets/icon/nav_icon_close@2x.png" class="nav-icon-size">
      </ion-button>
    </ion-buttons>

    <ion-title>搜索地址</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-searchbar show-cancel-button="true" value={{keyWord}} placeholder="请输入您的地址"></ion-searchbar>
  </div>
  <ion-list *ngFor="let item of addressList">
    <ion-item>
      <ion-label text-wrap>
        <ion-text color="dark">
          <h2>{{item.title}}</h2>
        </ion-text>
        <p>{{item.address}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>