.left{
    padding-left: 15px;
}

ion-searchbar{
    --cancel-button-color: #27282E;;
}

.city-bg{
    background-color: lightgray ;
    color: gray;
    border-radius : 5px;
    margin-bottom: 10px;
}
.grid-padding{
    --ion-grid-padding : 15px;//行间距
    --ion-grid-column-padding: 15px;// 单个item内容的padding

}
.city-item{
color: black;



}