<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="backWithCity()">
        <img src="/assets/icon/nav_icon_close@2x.png" class="nav-icon-size">
      </ion-button>
    </ion-buttons>

    <ion-title>选择城市</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-searchbar show-cancel-button="true" cancel-button-text="取消" placeholder="搜索城市" type="text" [(ngModel)]="term"
      name="first">
    </ion-searchbar>
  </div>
  <div class="left">
    <div>
      当前定位城市
    </div>
    <div>
      <ion-row>
        <ion-col size="4">
          <ion-button (click)="onCurrentCityClick(city)" class="city-bg" fill="clear">
            <img src="/assets/icon/city_icon_location_red@2x.png" class="nav-icon-size">
            {{city}}
          </ion-button>
        </ion-col>
      </ion-row>

    </div>
    <br>
    <div>热门城市</div>

    <ion-grid class="grid-padding">
      <ion-row class="ion-align-items-start">
        <ion-col *ngFor="let city of hotCityList; let i=index" offset="1" class="city-bg" size="3"
          (click)="onCurrentCityClick(city.name)">
          {{city.name}} {{i}}
        </ion-col>

      </ion-row>
    </ion-grid>


  </div>


  <ion-list>
    <ion-item *ngFor="let city of listdata | filter:term " (click)="onCurrentCityClick(city.name)">
      <ion-label color="dark">
        {{city.name}}
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- <ion-alpha-scroll *ngIf="listdata.length>0" [listData]="listdata" key="initial" [itemTemplate]="alphaScrollItemTemplate"
    [currentPageClass]="currentPageClass"></ion-alpha-scroll> -->

</ion-content>
<!-- <ng-template #alphaScrollItemTemplate let-item="item" let-currentPageClass="currentPageClass">
  <ion-item (click)="currentPageClass.onItemClick(item)">
    <h2>{{item?.name}}</h2>
  </ion-item>
</ng-template> -->