<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="backWithCity()">
        <img src="/assets/icon/nav_icon_close@2x.png" class="nav-icon-size">
      </ion-button>
    </ion-buttons>

    <ion-title>选择城市</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-searchbar show-cancel-button="true" placeholder="搜索城市"></ion-searchbar>
  </div>
  <div class="left">
    <div>
      当前定位城市
    </div>
    <div>
      <ion-row>
        <ion-col size="4">
          <ion-button (click)="onCurrentCityClick()" class="city-bg" fill="clear">
            <img src="/assets/icon/city_icon_location_red@2x.png" class="nav-icon-size">
            深圳
          </ion-button>
        </ion-col>
      </ion-row>

    </div>
    <br>
    <div>热门城市</div>

    <!-- <ion-grid class="grid-padding">
      <ion-row class="ion-align-items-start" *ngFor="let rowList of getRowListByGridList(3); let i=index">
        <ion-col offset="i%3 == 0 ? 0 : 1" class="city-bg" size="3" *ngFor="let city of rowList">
          {{city.name}}
        </ion-col>

      </ion-row>
    </ion-grid> -->


  </div>


  <ion-list>
    <ion-item *ngFor="let item of listdata">
      <ion-label color="dark">
        {{item.name}}
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>